@import url(https://fonts.googleapis.com/css?family=Oswald:300&subset=latin-ext);
@import url(https://fonts.googleapis.com/css?family=Raleway:300&subset=latin-ext);
@import url(https://fonts.googleapis.com/css?family=Poiret+One&subset=latin-ext);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300&subset=latin-ext);

.nav-container {
	width: 100%;
	height: 80px;
	background: #9ad3de;
}

.nav-logo {
	float: left;
	height: 100%;
	text-align: center;
	width: 15%;
	min-width: 102px;
	font-family: 'Poiret One', cursive;
}

.narrow-nav {
	display: none;
	float: right;
	position: relative;
}

.narrow-nav img {
	padding-top: 9px;
	padding-right: 9px;
	cursor: pointer;
}

.narrow-nav:hover .dropdown-content {
	display: block;
}

.dropdown-content {
	display: none;
    position: absolute;
    left: -140px;
    min-width: 170px;
    z-index: 100;
}

.dropdown-content ul {
	text-align: right;
}

.dropdown-link {
	display: block;
	color: #fff;
	text-decoration: none;
	font-size: 12px;
	font-family: 'Raleway', sans-serif;
	background-color: rgba(0, 0, 0, .8);
	border: 1px solid rgba(0, 0, 0, .4);
	font-weight: 500;
	padding: 10px;
}

.dropdown-link:hover {
	background-color: rgba(255, 255, 255, 0.9);
	color: #c5a981;
}

.nav-logo h1 {
	font-size: 3em;
}

.nav-logo h1 span {
	color: #fae596;
	font-weight: 800;
}

.sub-logo {
	font-size: 1.2em;
	font-family: 'Raleway', sans-serif;
	display: block;
	margin-top: 6px;
}

.nav-links {
	float: right;
	font-family: 'Oswald', sans-serif;
	font-size: 1.8em;
	font-weight: 800;
	margin-top: 1.2%;
}

.nav-links a {
	margin-right: 22px;
	text-decoration: none;
	color: #e3e3e3;
	text-shadow: 1px 1px #000000;
}

.nav-links a:hover {
	color: #558D8B;
}

.content-container {
	background: #dddfd4;
	width: 100%;
	padding-top: 40px;
	padding-bottom: 50px;
	text-align: center;
}

.footer-container {
	height: 60px;
	text-align: center;
	background: #9ad3de;
}

.footer-links {
	padding-top: 12px;
}

.footer-links a {
	font-family: 'Oswald', sans-serif;
	font-size: 1.2em;
	font-weight: 700;
	text-decoration: none;
	color: #e3e3e3;
	text-shadow: 1px 1px #000000;
	margin-right: 5%;
}

.footer-links a:hover {
	color: #558D8B;
}

.signature {
	margin-top: 10px;
	background: white !important;
	font-family: 'Poiret One', cursive;
	font-weight: 600;
}

.content-container h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 2.5em;
}

.search-container {
	background: #ba9077;
	padding: 20px;
	width: 80%;
	margin-left: 10%;
	border-radius: 25px;
}

.search-container h3 {
	color: white;
}

.travel-search {
	text-align: center;
	margin-top: 15px;
}

.travel-search select {
	cursor: pointer;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	height: 40px;
	margin: 10px;
	border-radius: 5px;
	width: 192px;
	padding: 0 5px;
	-webkit-appearance:none;
 	-moz-appearance:none;
	background: url(../fonts/icons/down-arrow.png) no-repeat right #ddd;
	background-position-x: 165px;
}

.offers {
	width: 78%;
	margin: auto;
	margin-top: 30px;
}

.choice {
	display: inline-block;
	padding: 15px;
	margin-top: 30px;
	width: 16%;
	min-width: 300px;
}

.choice img {
	display: block;
	width: 100%;
	height: auto;
	border: 1px solid black;
	border-radius: 8px;
}

.caption {
	margin-top: 20px;
	font-family: 'Raleway', sans-serif;
	background-color: rgba(7, 99, 117, 0.5);
	padding: 8px;
	border-radius: 8px;
	color: white;
}

.caption h4 {
	font-size: 16px;
}

.meta {
	text-align: left;
	line-height: 26px;
	margin-top: 10px;
	background-color: rgba(0, 0, 0, 0.4);
	padding: 10px;
	border-radius: 8px;
	color: white !important;
}

.meta img {
	width: 16px;
	height: auto;
	display: inline !important;
	border: none !important;
	margin-top: 5px;
}

.meta span {
	margin-left: 12px;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 767px) { 
	html {
		font-size: 60%;
	}

	.nav-container {
		height: 50px;
	}

	.standard-nav {
		display: none;
	}

	.narrow-nav {
		display: inline;
	}
 }

@media screen and (min-width: 768px) and (max-width: 991px) { 
	html {
		font-size: 60%;
	}

	.nav-container {
		height: 50px;
	}
 }

@media screen and (min-width: 992px) and (max-width: 1199px) { 
	html {
		font-size: 80%;
	}

	.nav-container {
		height: 60px;
	}
 }